Customer Requirements / Scope of Work / Technical Specification / Conformed Specification / Requirements Specification /
 Тесhnical Assignment / Terms of Reference

Дискретные входы:
1. Кнопка давления (КД)
2. Переключатель Ручной/Автомат
3. Кнопка Пуск (КП)
4. Кнопка КК1
5. Кнопка КК2
6. Кнопка КК3
7. Кнопка КК4

Дискретные выходы:
1. Клапан К1
2. Клапан К2
3. Клапан К3
4. Клапан К4
5. Клапан К5

Аналоговые входы:
1. Уставка таймер 1 (Т1), диапазон - ???? - ????
2. Уставка таймер 2 (Т2), диапазон - ???? - ????

Описание

Клапан К5 работает одинаково в режимах Ручной или Авто. Включается только если клапаны К1 - К4 отключены

Входы кнопок снабжены фильтрами дребезга контактов 50 - 200 мс

В ручном режиме нажатие кнопок КК1 - КК4 приводит ко включению соответствующего клапана К1 - К4

Автоматический режим:
1. По нажатии кнопки старт включается К1
2. При сработке КД выключается К1, включается К2
3. При сработке КД включается Т1
4. По сработке Т1 выключается К2, включается Т2
5. По сработке Т2 включается К3
6. При сработке КД выключается К3